.main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  max-width: calc(100vw-50px);

  height: calc(100vh - 64px);
  background-color: white;
}

.main > section {
  padding: 32px;
}
