.main {
  /* overflow: scroll; */
  margin: auto;
  width: 750px;
  max-width: calc(100vw-50px);
  /* color: white; */
  z-index: 999;
}

.mainImage {
  width: 100%;
}

.body p {
  font-size: 24px;
  text-indent: 50px;
  line-height: 45px;
  letter-spacing: 1.5px;
}
