.mainSocials {
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 500px;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socialIcons {
  display: flex;
  margin: 8px;
  width: 50px;
  height: 50px;
  color: #fdecef;
  transition: all 0.2s ease-in;
  filter: drop-shadow(0.5px 0.5px 3px rgba(0 0 0 /0.4));
}

.socialIcons:hover {
  color: #f0426e;
  width: 52px;
  height: 52px;
}

.overlay {
  position: absolute;
  width: 50%;
  height: 50%;
  display: none;
  background-color: blue;
  z-index: 10;
}

/* .socialIcons:hover .overlay {
  display: block;
} */

@media (min-width: 768px) {
  .socialIcons {
    width: 75px;
    height: 75px;
  }
  .socialIcons:hover {
    color: #f0426e;
    width: 80px;
    height: 80px;
  }
}
